* {
    padding: 0;
    margin: 0;
    border: none;
}

body{
    font-family: 'Arial', serif;
    font-size: 16px;
    line-height: 1;
    color: #444c59;
    font-weight: 400;
}

header#list{
    display: flex;
    width: 100%;
    height: 58px;
    background: #fff;
    border-bottom: 1px solid rgba(48,51,58,.1);
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    .menu_mobile{
        display: none;
    }
    .col_left{
        width: 5%;
        height: 100%;
        .logo_zilo{
            height: 100%;
            width: 100%;
            padding: 8px 0;
            i{
                display: none;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .col_between{
        width: 35%;
        height: 100%;
        text-align: left;
        .search_list{
            margin-top: 7px;
            width: 100%;
            height: 100%;
            form{
                position: relative;
                margin-left: 20px;
                
                i{
                    position: absolute;
                    left: 16px;
                    top: 12px;
                    font-size: 18px;
                    color: #000;
                    z-index: 1;
                }
                input{
                    width: 100%;
                    max-width: 500px;
                    padding-left: 50px;
                    height: 44px;
                    line-height: 44px;
                    border: 1px solid rgba(48,51,58,.3);
                    border-radius: 2px;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    -webkit-box-shadow: 0;
                    box-shadow: 0;
                    position: relative;
                    &:hover{
                        box-shadow: 0 2px 4px rgba(0,0,0,.1);
                    }
                }
            }
        }
    }
    .col_right{
        width: 65%;
        height: 100%;
        display: flex;
        .menu_home{
            width: 100%;
            height: 100%;
            line-height: 55px;
            ul{
                display: flex;
                justify-content: flex-end;
                list-style: none;
                li{
                    margin: 0 10px;
                    position: relative;
                    &:hover{
                        ul.menu_child{
                            display: block;
                        }
                    }
                    a{
                        color: rgba(48,51,58,.86);
                        font-size: 14px;
                        font-weight: 500;
                        text-decoration: none;
                        font-family: Segoe UI,sans-serif;
                        i{
                            margin-left: 6px;
                            color: #ff0005;
                        }
                    }
                }
            }
            ul.menu_child{
                position: absolute;
                display: none;
                right: 0;
                z-index: 100;
                background: #fff;
                padding: 10px 0;
                border-radius: 2px;
                width: 200px;
                border: 1px solid rgba(131,131,131,.2);
                -webkit-transition: .1s ease all;
                -o-transition: .1s ease all;
                transition: .1s ease all;
                -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
                box-shadow: 0 0 10px 0 rgba(0,0,0,.13);
                li{
                    display: block;
                    white-space: nowrap;
                    height: 35px;
                    line-height: 35px;
                    padding: 0 25px;
                    margin: 0;
                    text-align: left;
                    &:hover{
                        background: #f3f4f7;
                    }
                    a{
                        display: block;
                        font-size: 14px;
                        color: #30333a;
                        font-weight: 400px;
                        font-family: Segoe UI,sans-serif;
                    }
                }
            }
            ul.menu_child::before{
                position: absolute;
                bottom: 100%;
                border: solid transparent;
                content: ' ';
                height: 0;
                width: 0;
                pointer-events: none;
                border-color: transparent;
                border-bottom-color: #fff;
                border-width: 8px;
                right: 14px;
                top: -16px;
                opacity: 1;
                z-index: 101;
            }
        }
        .login_home{
            margin-left: 20px;
            margin-right: 20px;
            display: flex;
            line-height: 55px;
            .btn-login {
                display: block;
                color: rgba(48,51,58,.86);
                width: auto;
                cursor: pointer;
                font-weight: 500;
                font-size: 14px;
                border: 0;
                padding: 0 20px;
                background: transparent;
                white-space: nowrap;
                text-decoration: none;
                font-family: Segoe UI,sans-serif;
            }
            .agency_zilo{
                a{
                    color: rgba(48,51,58,.86);
                    font-size: 14px;
                    height: 40px;
                    line-height: 40px;
                    display: inline-block;
                    width: 100%;
                    margin: 0 auto;
                    cursor: pointer;
                    font-weight: 500;
                    max-width: -webkit-fit-content;
                    max-width: -moz-fit-content;
                    max-width: fit-content;
                    min-width: -webkit-fit-content;
                    min-width: -moz-fit-content;
                    min-width: fit-content;
                    min-width: -moz-min-content;
                    max-width: -moz-max-content;
                    text-align: center;
                    border-radius: 2px;
                    padding: 0 20px;
                    white-space: nowrap;
                    outline: unset;
                    border: 1px solid rgba(48,51,58,.86);
                    text-decoration: none;
                    font-family: Segoe UI,sans-serif;
                }
            }
        }
    }
}


.slides_new{
    margin-top: 58px;
    background: #262626;
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 30px;
    .slick-next:before, .slick-prev:before{
        color: #fff;
    }
    .slick-dotted.slick-slider {
        // margin-bottom: 10px;
        margin: 0 auto 10px auto;
    }
    .main {
        font-family:Arial;
        width:100%;
        display:block;
        margin:0 auto;
    }  
    .slider-for{
        max-width: 500px;
        height: 355px;
        margin: 0 auto 10px auto;
    }
    .slider-for img:hover{
        cursor: zoom-in;
    }
    .slider-nav{
        max-width: 430px;
    }
    .slider-nav img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .item-nav{
        height: 94px;
        margin: 0 3px;
    }
    .item-for{
        width: 100%;
        height: 350px;
    }
}

.content_detail_house{
    .top_detail{
        border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        padding-top: 10px;
        .box_breadcrumb{
            ul{
                list-style: none;
                display: flex;
                li{
                    font-weight: 400;
                    padding-right: 5px;
                    a{
                        text-decoration: none;
                        font-size: 16px;
                        color: gray;
                        &:hover{
                            color: #c72528;
                        }
                    }
                }
            }
        }
        h1{
            font-size: 24px;
            font-weight: 400;
            line-height: 34px;
            width: 100%;
            padding: 5px 0;
        }
        .list_info_detail{
            width: 100%;
            margin-bottom: 25px;
            position: relative;
            ul{
                list-style: none;
                display: flex;
                li{
                    display: inline-block;
                    width: auto;
                    font-size: 14px;
                    margin-right: 15px;
                    color: #838383;
                    i{
                        color: #333;
                        margin-right: 6px;
                    }
                }
            }
        }
    }
    .main_detail{
        .overview{
            h4{
                padding: 40px 0 20px;
                font-size: 24px;
                font-weight: 600;
                position: relative;
                line-height: 30px;
                font-family: serif,sans-serif;
            }
            p{
                overflow: hidden;
                line-height: 24px;
                font-family: serif,sans-serif;
            }
        }
        .basic_infomation,.list_info{
            h4{
                padding: 40px 0 20px;
                font-size: 24px;
                font-weight: 600;
                position: relative;
                line-height: 30px;
                font-family: serif,sans-serif;
            }
            ul{
                width: 100%;
                overflow: auto;
                padding-bottom: 15px;
                li{
                    display: block;
                    border-bottom: 1px dotted #dedede;
                    padding: 7px 0;
                    float: left;
                    margin-right: 3%;
                    width: 47%;
                    p.left{
                        float: left;
                        color: rgba(68,76,89,.76);
                        font-size: 16px;
                        line-height: 24px;
                        font-family: serif,sans-serif;
                        margin-bottom: 0;
                    }
                    p.right{
                        float: right;
                        color: #444c59;
                        font-size: 15px;
                        font-weight: 600;
                        max-width: 48%;
                        overflow: hidden;
                        height: 30px;
                        text-align: right;
                        font-family: serif,sans-serif;
                        margin-bottom: 0;
                        i{
                            color: #444c59;
                        }
                    }
                    p.right i.far.fa-check{
                        font-size: 12px;
                    }
                }
            }
        }
        .advantages_house{
            h4{
                padding: 40px 0 20px;
                font-size: 24px;
                font-weight: 600;
                position: relative;
                line-height: 30px;
                font-family: serif,sans-serif;
            }
            .list_advantages{
                display: flex;
                margin-bottom: 20px;
                padding: 20px 0;
                border-bottom: 1px dotted #e2e2e2;
                .advantages_name{
                    float: left;
                    width: 23%;
                    p{
                        text-transform: uppercase;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
                .advantages_content{
                    float: left;
                    width: 72%;
                    margin-left: 5%;
                    font-size: 16px;
                    p{
                        font-size: 16px;
                        line-height: 24px;
                        font-family: serif,sans-serif;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .images_house{
            width: 99%;
            h4{
                padding: 40px 0 20px;
                font-size: 24px;
                font-weight: 600;
                position: relative;
                line-height: 30px;
                font-family: serif,sans-serif;
            }
            .gallery{
                >div:first-child {
                    width: 100%;
                    height: 400px;
                }
                div {
                    width: 49%;
                    height: 230px;
                    margin-bottom: 15px;
                    margin-right: 5px;
                    display: inline-block;
                    position: relative;
                    text-align: center;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                    span {
                        display: inline-block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        line-height: 32px;
                        padding: 0 11px;
                        border-radius: 2px;
                        background-color: rgba(0,0,0,.4);
                        color: #fff;
                        font-size: 16px;
                        height: 32px;
                        overflow: hidden;
                    }
                }
            }
        }
        .utility_area{
            width: 100%;
            h4{
                padding: 40px 0 20px;
                font-size: 24px;
                font-weight: 600;
                position: relative;
                line-height: 30px;
                font-family: serif,sans-serif;
            }
            .zilo_map{
                width: 100%;
            }
            .location_map{
                width: 100%;
                height: 43px;
                line-height: 48px;
                padding-left: 10px;
                overflow: hidden;
                strong{
                    font-size: 16px;
                    line-height: 24px;
                    >i{
                        color: #c72528;
                        margin-right: 6px;
                    }
                }
            }
        }
    }
    .contact_info{
        height: 400px;
        width: 100%;
        border: solid 1px #ccc;
        .top_info {
            display: flex;
            padding: 26px 20px;
            border-bottom: solid 1px #ccc;
            .user_avatar{
                width: 80px;
                height: 80px;
                border-radius: 50%;
                overflow: hidden;
                border: 1px solid #f5f5f5;
                margin-right: 20px;
                background: #005b9c;
                text-align: center;
                display: flex;
                justify-content: center;
                span{
                    color: #fff;
                    font-size: 30px;
                    margin: auto;
                    width: 50%;
                    text-transform: uppercase;
                }
            }
            .avatar_name{
                display: inline-block;
                width: calc(100% - 110px);
                height: 80px;
                span{
                    line-height: 4.5;
                    font-size: 16px;
                    font-weight: 600;
                    text-transform: capitalize;
                }
            }
        }
        .bottom_info{
            margin-top: 20px;
            padding: 20px;
            .phone_number{
                a{
                    text-decoration: none;
                    .btn-red{
                        width: 100%;
                        max-width: 100%;
                        margin-bottom: 20px;
                        display: block;
                        text-align: center;
                        padding: 15px 40px;
                        color: #fff;
                        background: #c72528;
                        border-radius: 2px;
                        font-size: 18px;
                        border: 0;
                        &:hover{
                            background: #b71c1f;
                        }
                        i{
                            font-size: 14px;
                            margin-right: 10px;
                        }
                    }
                }
            }
            .user_email{
                .email{
                    width: 100%;
                    max-width: 100%;
                    margin-bottom: 20px;
                    display: block;
                    text-align: center;
                    padding: 15px 34px;
                    color: #333;
                    border-radius: 2px;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    i{
                        font-size: 14px;
                        margin-right: 10px;
                    }
                }
            }
            .user_chat{
                .chat{
                    cursor: pointer;
                    width: 100%;
                    max-width: 100%;
                    margin-bottom: 20px;
                    display: block;
                    text-align: center;
                    padding: 15px 34px;
                    color: #fff;
                    border-radius: 2px;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    background: linear-gradient(180deg,#0998fa 0,#0e67fa);
                    i{
                        font-size: 14px;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}


.housing_nearby{
    // background: #f4f5f9;
    background: rgba(243, 244, 247, 0.5) !important;
    width: 100%;
    .content_housing_nearby{
        h4{
            padding: 40px 0 20px;
            font-size: 24px;
            font-weight: 600;
            position: relative;
            line-height: 30px;
            font-family: serif,sans-serif;
        }
        .compare_house{
            background: #fff;
            border-bottom: 0;
            font-size: 16px;
            box-shadow: 0 2px 5px rgba(0,0,0,.1);
            margin-bottom: 100px;
            .article{
                padding: 19px;
                border-bottom: 1px solid #ececec;
                display: table;
                height: 90px;
                width: 100%;
                >div{
                    display: table-cell;
                    vertical-align: middle;
                }
                .img{
                    height: 60px;
                    width: 12%;
                    position: relative;
                    padding-right: 20px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .title{
                    width: 43%;
                    h3{
                        font-weight: 600;
                        line-height: 1.4em;
                        font-size: 16px;
                        font-family: serif,sans-serif;
                        display: -webkit-box;
                        unicode-bidi: embed;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        a {
                            text-decoration: none;
                            color: #444c59;
                        }
                    }
                    p.address{
                        padding-top: 5px;
                        color: gray;
                        display: -webkit-box;
                        unicode-bidi: embed;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                }
                .status_housing{
                    width: 20%;
                    text-transform: uppercase;
                    font-size: 14px;
                    line-height: 20px;
                    color: #c72528;
                    font-weight: 500;
                }
                .info{
                    width: 25%;
                    padding-top: 15px;
                    >ul{
                        display: flex;
                        >li{
                            display: inline-block;
                            width: auto;
                            font-size: 14px;
                            margin-right: 15px;
                            color: #838383;
                            >i{
                                color: #333;
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.housing_same{
    width: 100%;
    background: #f4f5f9;
    padding-bottom: 70px;
    .content_housing_same{
        h4{
            padding: 40px 0 20px;
            font-size: 24px;
            font-weight: 600;
            position: relative;
            line-height: 30px;
            font-family: serif,sans-serif;
        }
        .same{
            .article_same:last-child{
                margin-right: 0px !important;
            }
            .article_same{
                transition: all .3s;
                border: 1px solid rgba(131,131,131,.2);
                margin-right: 30px;
                border-top: 2px solid #444c59;
            }
            .cover_image{
                position: relative;
                p{
                    position: absolute;
                    top: 10px;
                    left: 10px;
                    text-align: center;
                    padding: 7px 7px 5px 7px;
                    color: #fff;
                    background: rgba(199,37,40,.86);
                    font-size: 12px;
                    font-family: 'rv-font1',Arial,Helvetica,sans-serif;
                    z-index: 2;
                    border-radius: 2px;
                    text-transform: uppercase;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .mark_cover_image{
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    padding: 8px 0;
                    color: #fff;
                    background: rgba(199,37,40,.86);
                    font-size: 14px;
                    font-family: 'rv-font1',Arial,Helvetica,sans-serif;
                    width: 100%;
                    z-index: 2;
                }
            }
            .info_project{
                position: relative;
                width: 100%;
                padding: 15px;
                background: #fff;
                ul.info_house{
                    margin-top: 15px;
                    display: flex;
                    list-style: none;
                    margin-bottom: 0;
                    li{
                        display: inline-block;
                        width: auto;
                        font-size: 14px;
                        margin-right: 15px;
                        color: #838383;
                        i{
                            font-size: 12px;
                            color: #30333a;
                            padding-right: 5px;
                        }
                    }
                }
                h3{
                    a.name_project{
                        display: block;
                        font-size: 16px;
                        color: #30333a;
                        font-weight: 400;
                        line-height: 1.5;
                        white-space: nowrap;
                        -o-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                .address_project{
                    margin-top: 8px;
                    display: block;
                    color: #838383;
                    white-space: nowrap;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                .price_project{
                    margin-top: 15px;
                    span{
                        color: #30333a;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 1.3;
                    }
                }
                .price_house{
                    display: block;
                    position: absolute;
                    right: 20px;
                    bottom: 15px;
                    font-size: 14px;
                    font-weight: 600;
                    color: #30333a;
                    text-align: right;
                }
            }
        }
    }
}

// footer
footer#footer{
    width: 100%;
    background: #000111;
    color: #fff;
    padding: 30px 15px;
    text-align: left;
    .row_one,.row_two{
        border-bottom: 1px solid rgba(255,255,255,.12);
    }
    .row_three{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .left{
            float: left;
            font-size: 12px;
            color: rgba(255,255,255,.5);
            line-height: 18px;
        }
        .right{
            float: right;
            a{
                font-size: 12px;
                color: rgba(255,255,255,.5);
                text-decoration: none;
                margin-right: 16px;
            }
        }
    }
    .main_footer{
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 18px;
        .contact{
            display: flex;
            width: 20%;
            .icon{
                width: 20px;
                margin-right: 10px;
                i{
                    font-size: 16px;
                    padding: 0;
                    margin-top: 4px;
                }
            }
            .details{
                p.title{
                    font-size: 12px;
                    margin-bottom: 7px;
                }
                p.link{
                    a{
                        font-size: 16px;
                        color: #00a6bd;
                        font-weight: 500;
                        text-decoration: none;
                    }
                }
            }
        }
        .list_info_footer{
            list-style: none;
            margin-top: 25px;
            width: 100%;
            display: flex;
            >li{
                width: 20%;
                span{
                    width: 100%;
                    font-size: 14px;
                    font-weight: 600;
                    position: relative;
                }
                >ul{
                    list-style: none;
                    margin-top: 8px;
                    li{
                        width: 100%;
                        height: 32px;
                        line-height: 32px;
                        a{
                            display: block;
                            font-size: 14px;
                            color: rgba(255,255,255,.5);
                            text-decoration: none;
                        }
                    }
                }
            }
            li.address{
                p{
                    font-size: 12px;
                    color: rgba(255,255,255,.5);
                    line-height: 1.4;
                    margin-bottom: 20px;
                    margin-top: 25px;
                }
                .socical_group{
                    display: flex;
                    a{
                        min-width: 20px;
                        margin-right: 10px;
                        padding: 0;
                        color: #fff;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px){
    header#list{
        padding: 0 15px;
        .menu_mobile {
            display: none;
            position: absolute;
            top: 58px;
            background: #fff;
            width: 100%;
            padding-bottom: 100px;
            left: 0;
            .login_home{
                margin-top: 10px;
                display: flex;
                justify-content: space-evenly;
                line-height: 35px;
                width: 100%;
                padding-bottom: 10px;
                border-bottom: 1px solid rgba(48, 51, 58, 0.1);
                .btn-login {
                    display: block;
                    width: auto;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 14px;
                    border: 0;
                    padding: 3px 42px 0 42px;
                    white-space: nowrap;
                    text-decoration: none;
                    color: #30333a;
                    border: 1px solid #30333a;
                    background: transparent;
                }
                .agency_zilo{
                    border: 1px solid #c72528;
                    a{
                        color: #c72528;
                        background: transparent;
                        font-size: 14px;
                        height: 40px;
                        line-height: 40px;
                        display: inline-block;
                        width: 100%;
                        margin: 0 auto;
                        cursor: pointer;
                        font-weight: 600;
                        max-width: -webkit-fit-content;
                        max-width: -moz-fit-content;
                        max-width: fit-content;
                        min-width: -webkit-fit-content;
                        min-width: -moz-fit-content;
                        min-width: fit-content;
                        min-width: -moz-min-content;
                        max-width: -moz-max-content;
                        text-align: center;
                        border-radius: 2px;
                        padding: 0 20px;
                        white-space: nowrap;
                        outline: unset;
                        border: 1px solid #fff;
                        text-decoration: none;
                    }
                }
            }
            ul{
                display: block;
                background-color: #fff;
                display: unset;
                width: 100%;
                li{
                    .menu_child{
                        display: none;
                        background-color: #f8f9fa;
                        list-style: none;
                        li{
                            padding-left: 20px;
                        }
                    }
                    a.phone{
                        strong{
                            font-size: 16px;
                        }
                    }
                    a{
                        text-decoration: none;
                        display: block;
                        margin: 0 18px;
                        height: 50px;
                        line-height: 50px;
                        text-align: left;
                        color: #30333a;
                        border-bottom: 1px solid rgba(48,51,58,.1);
                        -webkit-transition: all 100ms ease-in;
                        -o-transition: all 100ms ease-in;
                        transition: all 100ms ease-in;
                        i{
                            margin-top: 18px;
                            float: right;
                            color: #c72628;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
        .col_left{
            width: 10% !important;
            .logo_zilo{
                position: relative;
                i{
                    display: block;
                    transition: transform .5s ease;
                    position: absolute;
                    right: -38px;
                    top: 9px;
                    color: #c72528;
                    padding: 12px;
                }
            }
        }
        .col_between {
            width: 100%;
            height: 100%;
            padding: 0 18px !important;
            .search_list{
                form{
                    input{
                        font-size: 14px;
                    }
                }
            }
        }
        .col_right{
            width: 90%;
            display: none;
            .login_home{
                justify-content: flex-end;
                display: none;
            }
            .menu_home{
                padding: 0 15px;
                display: none;
                ul{
                    display: block;
                    background-color: #fff;
                    display: unset;
                    position: absolute;
                    top: 58px;
                    left: 0;
                    width: 100%;
                    li{
                        .menu_child{
                            display: block;
                        }
                        a{
                            display: block;
                            margin: 0 18px;
                            height: 50px;
                            line-height: 50px;
                            text-align: left;
                            color: #30333a;
                            border-bottom: 1px solid rgba(48,51,58,.1);
                            -webkit-transition: all 100ms ease-in;
                            -o-transition: all 100ms ease-in;
                            transition: all 100ms ease-in;
                            i{
                                margin-top: 18px;
                                float: right;
                                color: #c72628;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        } 
    } 
    .content_detail_house{
        .main_detail{
            .list_info.basic_infomation{
                >ul{
                    >li{
                        width: 100%;
                    }
                }
            }
            .images_house{
                .cover{
                    margin-right: 0px !important;
                }
            }
        }
    }
    .housing_nearby{
        .content_housing_nearby{
            .compare_house{
                margin-bottom: 50px;
                .article{
                    >div{
                        display: block;
                        width: 100% !important;
                    }
                    .img{
                        height: 150px;
                        padding-right: 0px;
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
    footer{
        .main_footer{
            .contact{
                width: 50% !important;
            }
        }
        .list_info_footer{
            display: unset !important;
            li.address {
                margin-bottom: 10px;
            }
            >li{
                width: 50% !important;
            }
        }
    }
}