* {
    padding: 0;
    margin: 0;
    border: none;
}

body{
    font-family: 'Arial', serif;
    font-size: 16px;
    line-height: 1;
    color: #444c59;
    font-weight: 400;
    background: rgba(243,244,247,.5)!important;
}
header#home{
    display: flex;
    width: 100%;
    height: 58px;
    background: red;
    border-bottom: 1px solid rgba(255,255,255,.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    .menu_mobile{
        display: none;
    }
    .col_left{
        width: 20%;
        height: 100%;
        .bars_mb {
            position: absolute;
            display: none;
            left: 25px;
            top: 15px;
            i{
                color: #fff;
                font-size: 32px;
            }
        }
        .logo_zilo{
            height: 100%;
            width: 100%;
            padding: 12px 0;
            i{
                display: none;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .col_right{
        width: 80%;
        height: 100%;
        display: flex;
        .search_hd{
            width: 100%;
            height: 100%;
            line-height: 55px;
            padding: 10px 20px;
            form{
                input{
                    border: 0px;
                    outline: none;
                    font-size: 13px;
                    :focus{
                        box-shadow: 0px !important;
                    }
                }
            }
        }
        .car_home{
            margin-left: 20px;
            margin-right: 20px;
            display: flex;
            line-height: 55px;
            i.fas.fa-shopping-cart{
                font-size: 22px;
                position: relative;
                #cart_count{
                    background: linear-gradient(#F59000, #FD6E1D);
                    border: 1px #F99000 solid;
                    border-radius: 50%;
                    font-size: 11px;
                    font-weight: normal;
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    line-height: 15px;
                    text-align: center;
                    top: -11px;
                    right: -18px;
                }
            }
            .btn-login {
                display: block;
                color: #fff;
                width: auto;
                cursor: pointer;
                font-weight: 500;
                font-size: 14px;
                border: 0;
                padding: 8px 20px;
                background: transparent;
                white-space: nowrap;
                text-decoration: none;
            }
           
        }
        .hotline {
            width: 220px;
            display: flex;
            flex-direction: column;
            padding: 10px 0px;
            a{
                font-size: 14px;
                color: #fff;
                margin-bottom: 8px;
                i{
                    font-size: 12px;
                    margin-right: 3px;
                }
            }
        }
    }
}

.nav-menu{
    background: #CC0000;
    margin-top: 58px;
    padding: 0 15px;
    display: flex;
    .menu_home{
        width: 100%;
        height: 100%;
        line-height: 35px;
        ul{
            display: flex;
            justify-content: flex-start;
            list-style: none;
            margin-bottom: 0px;
            li{
                margin: 0 10px;
                position: relative;
                &:hover{
                    ul.menu_child{
                        display: block;
                    }
                }
                a{
                    color: #fff;
                    font-size: 12px;
                    font-weight: 500;
                    text-decoration: none;
                    text-transform: uppercase;
                    i{
                        margin-left: 6px;
                        margin-right: 3px;
                    }
                }
            }
        }
        ul.menu_child{
            position: absolute;
            display: none;
            left: 0;
            z-index: 100;
            background: #fff;
            padding: 10px 0;
            border-radius: 2px;
            width: 180px;
            border: 1px solid rgba(131,131,131,.2);
            -webkit-transition: .1s ease all;
            -o-transition: .1s ease all;
            transition: .1s ease all;
            -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
            box-shadow: 0 0 10px 0 rgba(0,0,0,.13);
            li{
                display: block;
                white-space: nowrap;
                height: 35px;
                line-height: 35px;
                padding: 0 10px;
                margin: 0;
                text-align: left;
                &:hover{
                    background: #f3f4f7;
                    a{
                        color: #CC0000;
                    }
                }
                a{
                    display: block;
                    font-size: 12px;
                    color: #30333a;
                    font-weight: 400px;
                    text-transform: uppercase;
                }
            }
        }
        ul.menu_child::before{
            position: absolute;
            bottom: 100%;
            border: solid transparent;
            content: ' ';
            height: 0;
            width: 0;
            pointer-events: none;
            border-color: transparent;
            border-bottom-color: #fff;
            border-width: 8px;
            left: 40px;
            top: -16px;
            opacity: 1;
            z-index: 101;
        }
    }
    .note{
        width: 150px;
        padding: 10px;
        span{
            font-size: 12px;
            color: #fff;
        }
    }
}

#nav-menu-mb{
    // display: none;
    .navbar_menu{
        background: #FFF;
        border-left: 1px solid #E5E5E5;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        position: fixed;
        width: 280px;
        height: 100%;
        top: 0;
        transition: 0.3s;
        left: -280px;
        z-index: 99;
        list-style: none;
        li{
            a{
                display: block;
                border-top: 1px solid #E5E5E5;
                padding: 14px 10px;
                color: #333;
                i{
                    margin-right: 6px;
                }
                &:hover{
                    color: #E51515;
                }
            }
            ul{
                li{
                    a{
                        padding-left: 35px;
                    }
                }
            }
        }
    }
    
}
.navbar_overlap {
    display: none;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 11;
}

#home::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0%;
    left: 0;
    z-index: -1;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(transparent));
    background: -webkit-linear-gradient(top,rgba(0,0,0,.5),transparent);
    background: -o-linear-gradient(top,rgba(0,0,0,.5),transparent);
    background: linear-gradient(180deg,rgba(0,0,0,.5),transparent);
}



section{
    margin-bottom: 20px;
}

.banner_top  {
    width: 100%;
    height: auto;
    z-index: 1;
}

.project_hot{
    margin-top: 12px;
    h2{
        font-size: 24px;
        font-weight: 500;
        font-family: 'Helvetica Neue', serif;
        color: #000;
        display: block;
        float: left;
        width: 100%;
        line-height: 1.92;
    }
    .list_article{
    
        transition: all .3s;
        border: 1px solid rgba(131,131,131,.2);
        margin-bottom: 30px;
        border-top: 2px solid #CC0000;
        &:hover{
            transform: translate(0,-2px);
            -webkit-box-shadow: 0 0 6px rgba(0,0,0,.15);
            box-shadow: 0 0 6px rgba(0,0,0,.15);
        }
    }
    .cover_image{
        position: relative;
        p{
            position: absolute;
            top: 10px;
            left: 10px;
            text-align: center;
            padding: 7px 7px 5px 7px;
            color: #fff;
            background: rgba(199,37,40,.86);
            font-size: 12px;
            font-family: 'rv-font1',Arial,Helvetica,sans-serif;
            z-index: 2;
            border-radius: 2px;
            text-transform: uppercase;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .mark_cover_image{
            position: absolute;
            bottom: 0;
            text-align: center;
            padding: 8px 0;
            color: #fff;
            background: rgba(199,37,40,.86);
            font-size: 14px;
            font-family: 'rv-font1',Arial,Helvetica,sans-serif;
            width: 100%;
            z-index: 2;
        }
    }
    .info_project{
        position: relative;
        width: 100%;
        padding: 10px;
        background: #fff;
        ul.info_house{
            margin-top: 15px;
            display: flex;
            list-style: none;
            margin-bottom: 0;
            li{
                display: inline-block;
                width: auto;
                font-size: 14px;
                margin-right: 15px;
                color: #838383;
                i{
                    font-size: 12px;
                    color: #30333a;
                    padding-right: 5px;
                }
            }
        }
        h3{
            a.name_project{
                display: -webkit-box;
                font-size: 13px;
                height: auto;
                line-height: 1.35rem;
                margin-bottom: 5px;
                max-height: 2.7rem;
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                color: #000;
            }
        }
        .address_project{
            margin-top: 8px;
            display: block;
            color: #838383;
            white-space: nowrap;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .price_project{
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            .curren_price{
                color: #E51515;
                font-size: 16px;
                line-height: 1.3;
            }
            .old_price{
                color: #595959;
                text-decoration: line-through;
                margin-top: 4px;
                font-size: 13px;
            }
        }
        .price_house{
            display: block;
            position: absolute;
            right: 20px;
            bottom: 15px;
            font-size: 14px;
            font-weight: 600;
            color: #30333a;
            text-align: right;
        }
    }
}

a.more{
    color: #337588;
    font-weight: 400;
    font-size: 17px;
    display: block;
    float: left;
    clear: both;
    text-decoration: none;
    i{
        font-size: 13px;
        margin-left: 10px;
    }
}

.investors{
    h2{
        font-size: 24px;
        font-weight: 500;
        font-family: 'Helvetica Neue', serif;
        color: #000;
        margin-bottom: 10px;
        display: block;
        float: left;
        width: 100%;
        line-height: 1.92;
    }
    p.des_inves{
        margin-bottom: 20px;
        color: #838383;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .image_investor{
        padding: 20px;
        background: #fff;
        border: 1px solid rgba(131,131,131,.1);
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        width: 100%;
        height: 160px;
        margin-bottom: 30px;
        &:hover{
            transform: translate(0,-2px);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.browser_house{
    h2{
        font-size: 18px;
        font-weight: 500;
        font-family: 'Helvetica Neue', serif;
        color: #444c59;
        margin-bottom: 10px;
        display: block;
        float: left;
        width: 100%;
        line-height: 1.92;
    }
    .col_house{
        list-style: none;
        li{
            height: 30px;
            line-height: 30px;
            padding-right: 20px;
            a{
                font-size: 12px;
                display: inline-block;
                width: 100%;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                color: #337588;
                text-decoration: none;
            }
        }
    }
}

// Form popup Login
.popup_login {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 10;
    padding: 25px;
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #000;
        opacity: 0.7;
        z-index: 2;
    }
    .main_login {
        background: #f3f4f7;
        position: relative;
        z-index: 12;
        max-width: 525px;
        height: 320px;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
        .close_login {
            outline: none;
            position: absolute;
            right: -13px;
            top: -12px;
            width: 30px;
            height: 30px;
            background-color: #fff;
            border-radius: 100%;
            padding: 0px;
            font-size: 15px;
            color: #000;
            &:hover{
                color: #c72528;
            }
        }
        .logo_login {
            height: 50px;
            width: 50px;
            padding: 10px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        h3{
            text-align: center;
            margin-bottom: 25px;
            font-family: 'Helvetica Neue', serif;
            font-size: 24px;
            line-height: 32px;
            font-weight: 500;
            margin-top: 20px;
        }
        .socical {
            width: 100%;
            padding: 0 40px;
        }
        .fb_login{
            width: 100%;
            text-align: center;
            background: #3b5999;
            color: #fff;
            padding: 17px 10px 13px 10px;
            display: block;
            font-weight: 600;
            position: relative;
            text-decoration: none!important;
            font-size: 14px;
            border-radius: 2px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
            font-size: 16px;
            &:hover{
                opacity: 0.8;
            }
        }
        .gg_login{
            width: 100%;
            text-align: center;
            background: #4a90e2;
            color: #fff;
            padding: 17px 10px 13px 10px;
            display: block;
            font-weight: 600;
            position: relative;
            text-decoration: none!important;
            font-size: 16px;
            margin: 15px 0;
            border-radius: 2px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
            &:hover{
                opacity: 0.8;
            }
        }
    }
}

footer#footer{
    width: 100%;
    background: #000111;
    color: #fff;
    padding: 30px 15px;
    text-align: left;
    .row_one,.row_two{
        border-bottom: 1px solid rgba(255,255,255,.12);
    }
    .row_three{
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        .left{
            float: left;
            font-size: 12px;
            color: rgba(255,255,255,.5);
            line-height: 18px;
        }
        .right{
            float: right;
            a{
                font-size: 12px;
                color: rgba(255,255,255,.5);
                text-decoration: none;
                margin-right: 16px;
            }
        }
    }
    .main_footer{
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 18px;
        .contact{
            display: flex;
            width: 20%;
            .icon{
                width: 20px;
                margin-right: 10px;
                i{
                    font-size: 16px;
                    padding: 0;
                    margin-top: 4px;
                }
            }
            .details{
                p.title{
                    font-size: 12px;
                    margin-bottom: 7px;
                }
                p.link{
                    a{
                        font-size: 16px;
                        color: #00a6bd;
                        font-weight: 500;
                        text-decoration: none;
                    }
                }
            }
        }
        .list_info_footer{
            list-style: none;
            margin-top: 25px;
            width: 100%;
            display: flex;
            >li{
                width: 20%;
                span{
                    width: 100%;
                    font-size: 14px;
                    font-weight: 600;
                    position: relative;
                }
                >ul{
                    list-style: none;
                    margin-top: 8px;
                    li{
                        width: 100%;
                        height: 32px;
                        line-height: 32px;
                        a{
                            display: block;
                            font-size: 14px;
                            color: rgba(255,255,255,.5);
                            text-decoration: none;
                        }
                    }
                }
            }
            li.address{
                p{
                    font-size: 12px;
                    color: rgba(255,255,255,.5);
                    line-height: 1.4;
                    margin-bottom: 20px;
                    margin-top: 25px;
                }
                .socical_group{
                    display: flex;
                    a{
                        min-width: 20px;
                        margin-right: 10px;
                        padding: 0;
                        color: #fff;
                    }
                }
            }
        }
    }
}









@media (max-width: 768px){
    header#home{
        padding: 0 15px;
        height: auto;
        display: unset;
        .bars_mb{
            display: block !important;
            
        }
        .col_left{
            width: 100%;
            display: flex;
            justify-content: center;
            .logo_zilo{
                position: relative;
                width: 200px;
                height: auto;
                i{
                    display: block;
                    transition: transform .5s ease;
                    position: absolute;
                    right: -38px;
                    top: 9px;
                    color: #fff;
                    padding: 12px;
                }
            }
        }
        .col_right{
            width: 100%;
            flex-direction: column;
            .search_hd{
                padding: 0px 10px;
            }
            .login_home{
                justify-content: flex-end;
                display: none;
            }
            .menu_home{
                padding: 0 15px;
                display: none;
                ul{
                    display: block;
                    background-color: #fff;
                    display: unset;
                    position: absolute;
                    top: 58px;
                    left: 0;
                    width: 100%;
                    li{
                        .menu_child{
                            display: block;
                        }
                        a{
                            display: block;
                            margin: 0 18px;
                            height: 50px;
                            line-height: 50px;
                            text-align: left;
                            color: #30333a;
                            border-bottom: 1px solid rgba(48,51,58,.1);
                            -webkit-transition: all 100ms ease-in;
                            -o-transition: all 100ms ease-in;
                            transition: all 100ms ease-in;
                            i{
                                margin-top: 18px;
                                float: right;
                                color: #c72628;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            .car_home{
                position: absolute;
                top: 0;
                right: 0;
            }
            .hotline{
                width: 100%;
                display: unset;
                text-align: center;
                a{
                    margin-right: 12px;
                }
            }
        } 
    }
    .nav-menu{
        display: none;
    }
    #nav-menu-mb{
        display: block;
    }
    .banner_top{
        margin-top: 132px;
    }
    footer{
        .main_footer{
            .contact{
                width: 50% !important;
            }
        }
        .list_info_footer{
            display: unset !important;
            li.address {
                margin-bottom: 10px;
            }
            >li{
                width: 50% !important;
            }
        }
    }
}







