<template>
    <layouts>
        <home></home>
    </layouts>
</template>

<script>
import Home from '@/components/Home/Home.vue'
import Layouts from '../layouts/Default.vue'
export default {
    name: "default",
    components: {
        Home,
        Layouts
    },
    computed:{
        
    }
}
</script>

