<template>
     <section class="container-fluid">
        <div class="project_hot">
            <div class="row"><div class="col-md-12"><h2>HOT DEAL</h2></div></div>
            <div class="row">
                <div v-for="(item,key) in listProductsHot" :key="key" class="col-md-2 col-6">
                    <article class="list_article">
                        <div class="cover_image">
                            <a href="">
                                <p>SALE 10%</p>
                                <img :src="item.image" :alt="item.name">
                                <div class="mark_cover_image">HOT DEAL</div>
                            </a>
                        </div>
                        <div class="info_project">
                            <h3><a href="" class="name_project">{{item.name}}</a></h3>
                            <div v-if="item.price_discount !== null" class="price_project">
                                <span class="curren_price">{{item.price_discount}} đ</span>
                                <span class="old_price">{{item.price}} đ</span>
                            </div>
                            <div v-else class="price_project">
                                 <span class="curren_price">{{item.price}} đ</span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import {ApiGet} from "../../helper/api";
import { mapActions,mapGetters,mapState } from 'vuex'
import { mapFields } from 'vuex-map-fields'
export default {
    name: "Home",
    data(){
      return {
      }
    },
    components: {
      
    },
    computed:{
      // ...mapFields(['loglog']),
      // ...mapState(['home'])
      ...mapGetters({
        listProductsHot: 'LIST_PRODUCTS_HOT',
        hehe: 'HAI_LOG'
      })
    },
    mounted(){
      this.getListProductsHot()
    },
    methods:{
      ...mapActions(['getListProductsHot'])
    }
}
</script>

