<template>
    <div>
        <header id="home" class="main_header">
            <div class="col_left">
                <div class="bars_mb"><i class="fas fa-bars"></i></div>
                <div class="logo_zilo">
                    <a href=""><img src="../../assets/images/logo/logo.svg" alt=""></a>
                </div>
            </div>
            <div class="col_right">
                <div class="search_hd">
                    <form action="">
                        <input type="text" class="form-control" placeholder="Nhập tên ổ cứng, phụ kiện... cần tìm">
                    </form>
                </div>
                <div class="car_home">
                    <a href="#" class="btn-login">
                        <i class="fas fa-shopping-cart">
                            <b id="cart_count">1</b>
                        </i>
                    </a>
                    
                </div>
                
                <div class="hotline">
                    <a href=""><i class="fas fa-phone-alt"></i> 0902.131.474</a>
                    <a href=""><i class="fas fa-phone-alt"></i> 0902.131.474</a>
                </div>
            </div>
        </header>
        <div class="nav-menu">
            <div class="menu_home">
                <ul>
                    <li>
                        <a href=""><i class="fas fa-inbox"></i> Ổ CỨNG<i class="fal fa-angle-down"></i></a>
                        <ul class="menu_child">
                            <li><a href="">Ổ cứng SSD 2.5-Inch</a></li>
                            <li><a href="">Ổ cứng SSD M2-PCIe</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href=""><i class="fas fa-desktop"></i> Màn Hình<i class="fal fa-angle-down"></i></a>
                        <ul class="menu_child">
                            <li><a href="">Màn Hình Samsung</a></li>
                            <li><a href="">Màn Hình LG</a></li>
                            <li><a href="">Màn Hình HP</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="far fa-keyboard"></i> Phụ kiện máy tính<i class="fal fa-angle-down"></i></a>
                        <ul class="menu_child">
                            <li><a href="">Bán phím</a></li>
                            <li><a href="">Chuột có dây</a></li>
                            <li><a href="">Chuột không dây</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href=""><i class="far fa-newspaper"></i> Tin tức<i class="fal fa-angle-down"></i></a>
                        <ul class="menu_child">
                            <li><a href="">Tin công nghệ</a></li>
                            <li><a href="">Đánh giá</a></li>
                            <li><a href="">Hỏi đáp</a></li>
                            <li><a href="">Kinh nghiệm</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="note"><span>(Mở cửa: 9h - 18h30)</span></div>
        </div>

        <div id="nav-menu-mb">
            <ul class="navbar_menu">
                <li>
                    <a href="/o-cung"><i class="fas fa-inbox"></i></i>Ổ cứng</a>
                    <ul>
                        <li><a href="/ssd">Ổ cứng SSD 2.5-Inch</a></li>
                        <li><a href="/ssd-m2-pcie">Ổ cứng SSD M2-PCIe</a></li>
                        <li><a href="/ssd-m2-sata">Ổ cứng SSD M2-SATA</a></li>
                        <li><a href="/ssd-msata">Ổ cứng SSD mSATA</a></li>
                        <li><a href="/ssd-portable">Ổ cứng di động SSD</a></li><li><a href="/hdd-portable">Ổ cứng di động HDD</a></li>
                        <li><a href="/hdd-laptop">Ổ cứng HDD Laptop</a></li><li><a href="/hdd">Ổ cứng HDD Desktop</a></li>
                        <li><a href="/adapter">Adapter chuyển đổi</a></li><li><a href="/tools">Công cụ hỗ trợ</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/o-cung"><i class="fas fa-inbox"></i></i>Ổ cứng</a>
                    <ul>
                        <li><a href="/ssd">Ổ cứng SSD 2.5-Inch</a></li>
                        <li><a href="/ssd-m2-pcie">Ổ cứng SSD M2-PCIe</a></li>
                        <li><a href="/ssd-m2-sata">Ổ cứng SSD M2-SATA</a></li>
                        <li><a href="/ssd-msata">Ổ cứng SSD mSATA</a></li>
                        <li><a href="/ssd-portable">Ổ cứng di động SSD</a></li><li><a href="/hdd-portable">Ổ cứng di động HDD</a></li>
                        <li><a href="/hdd-laptop">Ổ cứng HDD Laptop</a></li><li><a href="/hdd">Ổ cứng HDD Desktop</a></li>
                        <li><a href="/adapter">Adapter chuyển đổi</a></li><li><a href="/tools">Công cụ hỗ trợ</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/o-cung"><i class="fas fa-inbox"></i></i>Ổ cứng</a>
                    <ul>
                        <li><a href="/ssd">Ổ cứng SSD 2.5-Inch</a></li>
                        <li><a href="/ssd-m2-pcie">Ổ cứng SSD M2-PCIe</a></li>
                        <li><a href="/ssd-m2-sata">Ổ cứng SSD M2-SATA</a></li>
                        <li><a href="/ssd-msata">Ổ cứng SSD mSATA</a></li>
                        <li><a href="/ssd-portable">Ổ cứng di động SSD</a></li><li><a href="/hdd-portable">Ổ cứng di động HDD</a></li>
                        <li><a href="/hdd-laptop">Ổ cứng HDD Laptop</a></li><li><a href="/hdd">Ổ cứng HDD Desktop</a></li>
                        <li><a href="/adapter">Adapter chuyển đổi</a></li><li><a href="/tools">Công cụ hỗ trợ</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: "default",
    components: {
    },
    computed:{
        
    }
}
</script>

