<template>
    <footer id="footer">
        <div class="container main_footer">
            <div class="row row_one">
                <div class="contact">
                    <div class="icon"><i class="fas fa-phone-alt"></i></div>
                    <div class="details">
                        <p class="title">Hotline(24/7)</p>
                        <p class="link"><a href="">0902 131 474</a></p>
                    </div>
                </div>
                <div class="contact">
                    <div class="icon"><i class="fas fa-phone-alt"></i></div>
                    <div class="details">
                        <p class="title">Chăm sóc khách hàng</p>
                        <p class="link"><a href="">0902 131 474</a></p>
                    </div>
                </div>
                <div class="contact">
                    <div class="icon"><i class="fas fa-envelope-open"></i></div>
                    <div class="details">
                        <p class="title">Khiếu nại phản hồi</p>
                        <p class="link"><a href="">0902 131 474</a></p>
                    </div>
                </div>
                <div class="contact">
                    <div class="icon"><i class="fas fa-envelope-open"></i></div>
                    <div class="details">
                        <p class="title">Bộ phận kinh doanh</p>
                        <p class="link"><a href="">0902 131 474</a></p>
                    </div>
                </div>
                <div class="contact">
                    <div class="icon"><i class="fas fa-envelope-open"></i></div>
                    <div class="details">
                        <p class="title">Bộ phận kinh doanh</p>
                        <p class="link"><a href="">0902 131 474</a></p>
                    </div>
                </div>
            </div>

            <div class="row row_two">
                <ul class="list_info_footer">
                    <li class="address">
                        <a href="" class="logo"><img src="images/logo/rv-logo-ft.svg" alt=""></a>
                        <p>Số 102 Thái Thịnh, phường Trung Liệt, quận Đống Đa, Hà Nội.</p>
                        <div class="socical_group">
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-linkedin"></i></a>
                            <a href=""><i class="fab fa-twitter"></i></a>
                        </div>
                    </li>
                    <li>
                        <span>Công ty</span>
                        <ul>
                            <li><a href="">Về Zilo</a></li>
                            <li><a href="">Tuyển dụng</a></li>
                            <li><a href="">Đội ngũ</a></li>
                            <li><a href="">Sàn giao dịch</a></li>
                            <li><a href="">Liên hệ</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>Dịch vụ</span>
                        <ul>
                            <li><a href="">Bán & cho thuê</a></li>
                            <li><a href="">Mua với Zilo</a></li>
                            <li><a href="">Thuê với Zilo</a></li>
                            <li><a href="">Zilo Academy</a></li>
                            <li><a href="">Zilo Agents</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>Thông tin</span>
                        <ul>
                            <li><a href="">Tin tức thị trường</a></li>
                            <li><a href="">Báo cáo phân tích</a></li>
                            <li><a href="">Cập nhật sản phẩm</a></li>
                            <li><a href="">Hướng dẫn sử dụng</a></li>
                            <li><a href="">Kiến thức môi giới</a></li>
                        </ul>
                    </li>
                    <li>
                        <span>Ứng Dụng</span>
                        <ul>
                            <li><a href="">Zilo trên iOS</a></li>
                            <li><a href="">Zilo trên Android</a></li>
                            <li><a href="">Zilo Agents trên iOS</a></li>
                            <li><a href="">Zilo Agents trên Android</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="row row_three">
                <div class="left">
                    <span>Copyright © 2019 - Rever. All Rights Reserved.</span>
                </div>
                <div class="right">
                    <a href="">Chính sách bảo mật</a>
                    <a href="">Điều khoản sử dụng</a>
                    <a href="">Phản hồi</a>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
export default {
    name: "default",
    components: {
    },
    computed:{
        
    }
}
</script>

