<template>
    <div >
        <header-home></header-home>
        <slot></slot>
        <footer-home></footer-home>
    </div>
</template>

<script>
import HeaderHome from '@/components/Header/Header.vue'
import FooterHome from '@/components/Footer/Footer.vue'
export default {
    name: "default",
    components: {
        HeaderHome,
        FooterHome
    },
    computed:{
        
    }
}
</script>

